<%= form_for @publication do |form| %>
    <div class="field mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="field mb-3">
        <%= form.label :url, class: "form-label" %>
        <%= form.text_field :url, class: "form-control" %>
    </div>

    <div class="field mb-3">
        <%= form.label :bio, class: "form-label" %>
        <%= form.text_area :bio, class: "form-control" %>
    </div>

    <%= form.submit "Submit", class: "btn btn-primary" %>
<% end %>