<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'MediumRare', root_path, class: "navbar-brand h2 my-auto" %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to 'Publications', publications_path, class: "nav-link m-auto" %>
        
        <% if account_signed_in? %>
          <div class="dropdown m-auto">
            <a class="btn btn-primary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_account.first_name %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to 'Profile', profile_path(current_account.username), class: "dropdown-item" %>
              <%= link_to 'Settings', edit_account_registration_path, class: "dropdown-item" %>
              <%= link_to "Sign Out", destroy_account_session_path, method: :delete, class: "dropdown-item" %>
            </ul>
          </div>
 
        <% else %>
          <%= link_to "Login", new_account_session_path, class: "btn btn-sm btn-outline-primary m-2" %>
          <%= link_to "Sign Up", new_account_registration_path, class: "btn btn-sm btn-primary m-2" %>
        <% end %>
        
      </div>
    </div>
  </div>
</nav>